Missing content length header for Interface 2

I am considering to use the DASH Ingest protocol for pushing video from a security camera to a recording service in cloud with an Object Store. To be able to create an object in the store, the receiver must know the size of the object. If the sender doesn't include the content length header the receiver must cache the segments until they're finished. If the receiver is connected to hundreds of cameras this cache could become huge. So I would like the sender to cache and then push when the segment is done, including a content length header in the request. I was hoping that Interface 2 requires the content length header to be present, but then found this paragraph in 6.1.2:

> The Ingest source SHOULD use the chunked transfer encoding option of the HTTP POST command [RFC7235] when the content length of the request is unknown at the start of transmission or to support use cases that require low latency.

Considering that Interface 2 is intended for direct publishing to a CDN would it be a fair to put a requirement that the content length header is included for such requests?

Note that the normative language is "SHOULD" not "MUST", and that using chunked transfering is not a hard requirement. Implementations cannot use both `Transfer-Encoding` and `Content-Length` in the same request as per [RFC 7230 § 3.3.2](https://datatracker.ietf.org/doc/html/rfc7230#section-3.3.2):

> A sender MUST NOT send a Content-Length header field in any message that contains a Transfer-Encoding header field.

So the only way to signal the length on a chunked upload is to use some other means to signal the expected length, most likely another HTTP header. Amazon's S3 works around this by mandating a custom header (`x-amz-decoded-content-length`). There is also a Internet Draft not yet adopted ([draft-nottingham-bikeshed-length](https://datatracker.ietf.org/doc/html/draft-nottingham-bikeshed-length)) that attempts to address this, but needs further work and contributions to move forward and be a viable reference.

Thanks for the clarification. Would it make sense for DASH-IF to come up with an HTTP header for this purpose or do you wait for the IETF to do this? Bikeshed-Length seems rather temporary...

I think awaiting for the IETF would be a cleaner solution overall - the document in question has interest and I suspect will be adopted by the HTTP WG in a timely manner. The Ingest specification defining its own advisory length header to represent chunked uploads would be at odds with a standardised IETF header, and may diverge in structure and fuctionality. Creating such a header may be useful for showing a use-case for the Bikeshed header and get functionality to market, but doing so may add onto product compatibility issues further down the line.

Don't worry about its name, the author simply recognises the name will be contended, and is trying to divert attention onto the headers purpose and functionality.

It can take a long time with standards bodies to define anything. Also Bikeshed header sounds rather ridiculous to me. Maybe it should be able to leap tall buildings in one bound too.

close and wait for ietf solution on this, we cannot do much.